# SPDX-License-Identifier: BSD-3-Clause

[package]
name = "daphne"
description = "Implementation of the DAP specification"
version = "0.3.0"
authors = [
  "Christopher Patton <cpatton@cloudflare.com>",
  "Armando Faz Hernandez <armfazh@cloudflare.com>",
]
edition = "2021"
license = "BSD-3-Clause"
homepage = "https://github.com/cloudflare/daphne"
repository = "https://github.com/cloudflare/daphne"
readme = "../README.md"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
assert_matches = "1.5.0"
async-trait = "0.1.58"
base64 = "0.13.1"
getrandom = { version = "0.2.8", features = ["js"] } # Required for prio
serde_json = "1.0.87"
prio = { version = "0.10.0", features = ["prio2"] }
hpke-rs = { version = "0.1.0" , features = ["hazmat"] }
hpke-rs-crypto = { version = "0.1.1" }
hpke-rs-rust-crypto = { version = "0.1.1"}
ring = "0.16.20"
hex = { version = "0.4.3", features = ["serde"] }
serde = { version = "1.0.147", features = ["derive"] }
rand = "0.8.5"
thiserror = "1.0.37"
url = { version = "2.3.1", features = ["serde"] }
matchit = "0.6.0"
paste = "1.0.9"

[dev-dependencies]
tokio = { version = "1.21.2", features = ["rt", "macros"] }
