# SPDX-License-Identifier: BSD-3-Clause

[package]
name = "daphne"
description = "Implementation of the DAP specification"
version = "0.3.0"
authors = [
  "Christopher Patton <cpatton@cloudflare.com>",
  "Armando Faz Hernandez <armfazh@cloudflare.com>",
]
edition = "2021"
license = "BSD-3-Clause"
homepage = "https://github.com/cloudflare/daphne"
repository = "https://github.com/cloudflare/daphne"
readme = "../README.md"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
assert_matches = "1.5.0"
async-trait = "0.1.61"
base64 = "0.21.0"
getrandom = { version = "0.2.8", features = ["js"] } # Required for prio
hex = { version = "0.4.3", features = ["serde"] }
hpke-rs = { version = "0.1.0" , features = ["hazmat", "serialization"] }
hpke-rs-crypto = { version = "0.1.1" }
hpke-rs-rust-crypto = { version = "0.1.1"}
lazy_static = "1.4.0"
matchit = "0.7.0"
paste = "1.0.11"
prio = { version = "0.10.0", features = ["prio2"] }
prometheus = "0.13.3"
rand = "0.8.5"
ring = "0.16.20"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.91"
thiserror = "1.0.38"
tracing = "0.1.37"
url = { version = "2.3.1", features = ["serde"] }

[dev-dependencies]
tokio = { version = "1.24.1", features = ["rt", "macros"] }
