# SPDX-License-Identifier: BSD-3-Clause

[workspace]
resolver = "2"

members = [
    "daphne",
    "daphne/dapf",
    "daphne_worker",
    "daphne_worker_test",
]

[profile.release]
# Tell `rustc` to optimize for small code size.
opt-level = "s"

[workspace.dependencies]
anyhow = "1.0.72"
assert_matches = "1.5.0"
async-trait = "0.1.72"
base64 = "0.21.2"
criterion = { version = "0.5.1", features = ["async_tokio"] }
futures = "0.3.28"
getrandom = { version = "0.2.10", features = ["js"] } # Required for prio
hex = { version = "0.4.3", features = ["serde"] }
hpke-rs = "=0.1.0"
hpke-rs-crypto = "=0.1.1"
hpke-rs-rust-crypto = "=0.1.1"
matchit = "0.7.2"
paste = "1.0.14"
prio = "0.14.0"
prometheus = "0.13.3"
rand = "0.8.5"
reqwest = "0.11.18"
ring = "0.16.20"
serde = { version = "1.0.181", features = ["derive"] }
serde_json = "1.0.104"
thiserror = "1.0.44"
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.37"
url = { version = "2.4.0", features = ["serde"] }
worker = "0.0.18"
