# SPDX-License-Identifier: BSD-3-Clause

[package]
name = "daphne-worker-test"
version = "0.3.0"
authors = [
  "Christopher Patton <cpatton@cloudflare.com>",
  "Armando Faz Hernandez <armfazh@cloudflare.com>",
]
edition = "2021"
license = "BSD-3-Clause"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["console_error_panic_hook"]
test_e2e = []
test_janus = []

[dependencies]
daphne_worker = { path = "../daphne_worker" }
cfg-if = "1.0.0"
worker = "0.0.11"
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.87"

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.7", optional = true }

[dev-dependencies]
assert_matches = "1.5.0"
base64 = "0.13.1"
daphne = { path = "../daphne" }
hex = { version = "0.4.3", features = ["serde"] }
lazy_static = "1.4.0"
futures = "0.3.25"
prio = "0.10.0"
rand = "0.8.5"
reqwest = { version = "0.11.12", features = ["json"] }
ring = "0.16.20"
tokio = { version = "1.21.2", features = ["full"] }
url = { version = "2.3.1", features = ["serde"] }
